spring:
  datasource:
    url: jdbc:postgresql://coffee-db:5432/coffeedb
    username: dev
    password: changeme
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true